<div class="contextual">
  <%= link_to_function t('back'), "history.back()", :class => 'icon icon-reload' %>
</div>

<h1><%= t('edit') %> <%= Risk.model_name.human(count: 1) %></h1>

<%= render 'edit_form' %>